* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  height: 100vh;
}
.btn{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  background: red;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: 3px;
}